@model Somministrazioni.Web.Models.Login.LoginPageModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<script type="text/javascript">

    var loginlUrl = '@Url.Action("Login","Login")';
    var errorUrl = '@Url.Action("Index","Error")';
    var homeUrl = '@Url.Action("Index","Home")';

 </script>

<form id="loginFormID">
    @Html.AntiForgeryToken();
    <label>Enter the Username</label>
    <input type="text" name="username" />
    <label>Enter the Password</label>
    <input type="password" name="password" />
    <input type="submit" value="Login" name="submit" class="submit" />
 </form>
<div id="infoPanel">
    <p></p>
</div>
