@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}


<div class="row">
    @Html.ActionLink("Distinte", "Index", "Distinte")
    <p>
    @Html.ActionLink("Contratti", "Index", "Contratti")
</div>